$color-primary: #ffffff;
$color-secondary: #000000;
$color-text: #292929;

$font-family-default: 'Lato', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$spacing-unit--x-small: 20px;
$spacing-unit--small: 55px;
$spacing-unit--medium: 80px;
$spacing-unit--large: 140px;
$spacing-unit--x-large: 240px;

$breakpoints: (small: 320px, medium: 768px, large: 960px, x-large: 1280px);